@import url('https//fonts.googleapis.com/css2?family=Poppins:wgth@500display=swap');

body{
    background: rgb(58,180,162);
    background: linear-gradient(90deg, rgba(58,180,162,1) 0%, rgba(180,253,29,1) 50%, rgba(252,235,69,1) 100%);;
}
.navbar{
    background: linear-gradient(90deg,#4CAF50 35%, rgb(62, 63, 163) 100%);
    box-shadow: 0 1px 5px black;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    padding: 15px;
   
}
.navbar a{
    font-family: 'poppins', sans-serif;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    text-decoration-color: #e4d2d2;
}

.navbar a.active:hover{
    background-color: #e4d2d2;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}





